* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    color: #003366;
    background: linear-gradient(135deg, #f0f6ff, #dbe9ff);
    overflow-x: hidden;
  }
  
  /* ===== HEADER ===== */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #007bff, #00aaff);
    padding: 15px 50px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
  }
  
  nav ul li a:hover {
    color: rgb(201, 201, 201);
  }
  
  .btn-pesan {
    background: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .btn-pesan:hover {
    background: #dcefff;
  }
  